.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:500px;
    background: url("./IOSBackGround22.jpeg") no-repeat  center ;
}
.login-wrapper form{
    border-radius:10% 10% 0 0;
    text-align: center;    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.562);
    opacity: 100%;
    margin-top: 5%;
    margin-bottom: 1%;
}
.avatar-wrapper{
    margin-top: 2%;
    border-radius: 50%;
    width:40%;
    height:40%;
    background-color:gray;
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.login-wrapper form label{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5%;
    height:10%;
    width:80%;
    background-color:transparent;
    position: relative;
    border: none;
    border-bottom:groove;
    border-color: rgb(197, 197, 197);
}

.login-wrapper form label input{
    width:90%;
    height:100%;
    background-color:transparent;
    border:none;
}
input:focus, input:active, input:hover{
outline: none;
}

.registerFromLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    color:gray;
    background-color: rgba(255, 255, 255, 0.562); 
    opacity: 100%;
    width:30%;
    height:15%;
    font-size: 150%;    
    border-radius:0 0 50% 50%;
    border:none;
} 
.registerFromLogin:hover {
    color:rgb(255, 255, 255);
    background-color:gray;
    opacity: 100%;
    border:solid;
}