.login-register-icon{
    color:gray;
}

#goperson{
    color: rgba(255, 255, 255, 0.89);
    opacity: 100%;
}
.submitOrChangePassWord{
    display: flex;
    width:85%;
    height:10%;
    margin-bottom: 5%;
}
