/* html, body{ */
  /* background-color: 'green';
  height:100%; */
  /* background-color: -webkit-linear-gradient(green, yellow, red); */
  /* background: linear-gradient(90deg, green 13%, yellow 40%, red 100%); */
  /* background-image: linear-gradient(to right, green, yellow,red); */
  /* background-image: linear-gradient(to right, #017001, #469200, #71a300, #9ab400, #c4c400, #d8bf00, #ecba00, #ffb300, #ff9700, #ff7700, #ff5100, #ff0000); */
  
/* } */

/* #root{
  height:100%;
}
@media screen {
  html, body {
     height: 100%;
  }
} */

/* html, body{
  height: -moz-calc(100%);
  height: -webkit-calc(100%);
  margin:0;
  padding:0;
} */

html {
  background-image: linear-gradient(to bottom, #ff0000, #ff5100, #ff7700, #ff9700, #ffb300, #ecba00, #d8bf00, #c4c400, #9ab400, #71a300, #469200, #008000);
  padding:0;
  /* background-color: yellowgreen; */
  /* height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover;
  background: linear-gradient(90deg, green 13%, yellow 40%, red 100%); */
  /* background-color: aqua; */
}
body{
  min-height: 100%;
  min-width: 100%;
  background-color: transparent;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
} 
#root{
  margin: 0;
  background-color:transparent;
  /* position: absolute;
  right: 0;
  bottom: 0; */
  min-width: 100%;
  min-height: 100%;
  max-width: 100vw;
  /* height:100%;
  width: 100%;
  margin: 0%;
  border: solid;
  border-color: aqua; */
  /* height: 100%; */
}